{% extends 'base.html' %}
{%block body %}
{%include 'header.html'%}
<div class="about-section">
<h1>About me</h1>
    <h4>Mobile.No- 9079604696</h4>
<h4>I am Electrical and Electronics Engineer-2017 to 2021 </h4>
<h4>CGPA : 8.23</h4>
<br>
<h3 class="skills">Skills :</h3>
   <h4>
<p>Programming Language: <span>Python</span> </p>
 <p><span>Data Structure And Algorithm</span></p>
    <p>SQL, SQLAlchemy, Git, RestApi and Flask</p>
    <p>Also Familiar with C, Cpp</p>

</h4>
    <table class="table education-data">
        <thead>
        <tr>
            <th scope="col">Course</th>
            <th scope="col">Institute</th>
            <th scope="col">Year</th>
            <th scope="col">Result</th>
        </tr>
        </thead>
<tbody>
    <tr>

            <td>B.E.</td>
            <td>Mugneeram Bangur Memorial College(MBM)</td>
              <td>2017-2021</td>
                  <td>8.23 Cgpa</td>

    </tr>
    <tr>


            <td>12 th </td>
            <td>Bhartiya Public School,Sikar</td>
              <td>2017</td>
                  <td>77.8 %</td>

    </tr>
    <tr>

            <td>10 th </td>
            <td>Dundload Public School,Dundload</td>
              <td>2015</td>
                  <td>9 Cgpa</td>

    </tr>
    </tbody>



    </table>
</div>


{%include 'footer.html'%}
{%endblock%}