<nav class="navbar navbar-expand-sm navbar-light bg-light">
      <a class="navbar-brand" href="">portfolio</a>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-toggle" aria-expanded="false" aria-label="Toggle navigation" aria-controls="navbar-toggle">
    <span class="navbar-toggler-icon"></span>
 </button>
<div class="collapse navbar-collapse" id="navbar-toggle">
<ul class="navbar-nav ml-auto">
<li class="nav-item">
<a class="nav-link" href="{{url_for('home')}}">Home</a>
</li>
    <li class="nav-item">
        <a class='nav-link' href="mailto:pycodelang123@gmail.com">Contact</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('about')}}">About</a>
    </li>
</ul>
</div>
</nav>
